# Hälsostudie – Del 1  
### Individuell uppgift (Dataanalys och Statistik)

I denna notebook analyseras data från en hälsostudie med information om deltagarnas ålder, kön, längd, vikt, blodtryck, kolesterolnivå, rökvanor och sjukdomsförekomst.  
Syftet är att utföra grundläggande beskrivande analys, simulering, konfidensintervall och hypotesprövning enligt uppgiften.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

df = pd.read_csv("../data/health_study_dataset.csv")

df.head()

   id  age sex  height  weight  systolic_bp  cholesterol smoker  disease
0   1   57   F   168.9    65.8        141.8         4.58     No        0
1   2   47   M   180.4    95.9        144.8         5.18    Yes        0
2   3   59   F   169.9    82.2        151.7         6.16     No        0
3   4   72   M   157.7    93.1        151.0         6.63     No        0
4   5   46   M   192.6   104.1        144.1         5.21     No        0